.adventure-choose-box {
  border: 1px solid #3533acfa;
  margin: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  min-height: 100px;
  border-radius: 67px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  font-size: 30px;
  position: relative;
}

.adventure-choose-box.adventure-choose-box.adventure-right {
  /* justify-content: start; */
  justify-content: space-around;
}
.adventure-choose-box.adventure-choose-box.adventure-left {
  /* justify-content: end; */
  justify-content: space-around;
}

.adventure-choose-box i {
  font-style: normal;
  transition-property: color;
  transition-duration: 0.3s;
  color: #6177ce;
}

.adventure-circle {
  position: absolute;
  width: 140px;
  height: 140px;
  border: 1px solid #3533acfa;
  z-index: 2;

  top: calc(50% - 70px);
  border-radius: 50%;
  background-color: #171669fa;
  transition: all 0.3s;
}

.adventure-choose-box:hover {
  background-image: linear-gradient(to left top, #6109771a, #df37a711);
  box-shadow: 0 0 20px #0e142b;
  cursor: pointer;
  color: tomato;
  /* border-color: #27e0b256; */
}
.adventure-choose-box:hover i,
.adventure-choose-box:hover span {
  color: tomato;
}

.adventure-choose-box:hover .adventure-circle {
  box-shadow: 0 0 20px #10152b;
  /* border-color: #5bdf9d75; */
  cursor: pointer;
}

.adventure-circle::after,
.adventure-choose-box::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: #6177ce;
  filter: blur(15px);
  z-index: 1;
  opacity: 0;
}
.adventure-circle {
  overflow: hidden;
}
.adventure-choose-box.adventure-left .adventure-circle::after {
  right: 0%;
  transform: rotate(20deg);
}
.adventure-choose-box.adventure-right .adventure-circle::after {
  right: 100%;
  transform: rotate(-20deg);
}

.adventure-choose-box.adventure-left:hover .adventure-circle::after {
  animation-name: lightMovingFromLeft;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
}

.adventure-choose-box.adventure-right:hover .adventure-circle::after {
  animation-name: lightMovingFromRight;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
}

.adventure-choose-box.adventure-left::after {
  transform: rotate(-20deg);
}
.adventure-choose-box.adventure-right::after {
  transform: rotate(20deg);
}

.adventure-choose-box.adventure-left:hover::after {
  animation-name: lightMovingFromRight;
  animation-duration: 0.5s;
}

.adventure-choose-box.adventure-right:hover::after {
  animation-name: lightMovingFromLeft;
  animation-duration: 0.5s;
}

@keyframes lightMovingFromRight {
  from {
    right: 0%;
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0.7;
  }

  90% {
    opacity: 0;
  }

  to {
    opacity: 0;
    right: 100%;
  }
}

@keyframes lightMovingFromLeft {
  from {
    right: 100%;
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0.7;
  }

  90% {
    opacity: 0;
  }

  to {
    opacity: 0;
    right: 0%;
  }
}

.adventure-left {
  padding-left: 50px;
  text-align: right;
}

.adventure-right {
  padding-right: 50px;
  text-align: left;
}

.adventure-left .adventure-circle {
  left: -10px;
}
.adventure-right .adventure-circle {
  right: -10px;
}

/* --------- falcon ----------- */

.falcon-wrapper {
  /* background-color: #10152b; */
  background-image: linear-gradient(
    to left top,
    #290233 0 10%,
    #000 31%,
    #10152b 64%,
    #0b0977fa 85% 100%
  );
  padding: 15px;
  border-radius: 15px;
  padding-bottom: 10px;
  font-size: 4px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.falcon-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: url('https://raw.githubusercontent.com/debosotnas/GM-Basic-01/main/src/assets/imgs/swapi-space.svg');
  background-size: 50%;
  transform: translateX(0px);
  content: '';
  animation-name: anim-space-falcon;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2.8s;
}

.falcon-wrapper.move-falcon::after {
  animation-duration: 0.5s;
}

@keyframes anim-space-falcon {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-245px);
  }
}

.falcon-wrapper pre {
  animation-duration: 4.7s;
  animation-name: moving-falcon;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

.move-falcon pre {
  animation-name: shaking;
  animation-duration: 2.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier();
}

@keyframes moving-falcon {
  from {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0px);
  }
}

/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shaking {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
